body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.guide {
    padding: 50px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #111;
    width: 80%;
    max-width: 600px;
    flex-wrap: wrap;
    margin-right: 100px;

}

h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    text-align: center;
    margin-bottom: 20px;
    color :#111
}

h2{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    color: #111;
}
p{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    color :#111
}

ul{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}

form {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    display: flex;
    flex-direction: column;
    flex-wrap: row;
}

label {
    margin-bottom: 5px;
}

input, textarea, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

button {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    background-color: #1900ff; /* Green */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Guide section */
.report-guide {
    width: 30%;
    padding: 20px;
}

/* Form section */
.form-container {
    width: 60%;
    /* ... */
}